<footer class="bg-white border-b">
<div class="container max-w-6xl px-6 py-6 mx-auto">
    <span>Footer! <a href="/">{{ siteData.title }}</a></span>
    <nav class="mt-4">
        <ul class="">
            <li class=""><a href="/tags/" class="text-xl">Tags</a></li>
            <li class=""><a href="/ueber/" class="text-xl">Über</a></li>
            <li class=""><a href="/ueber/" class="text-xl">Impressum & Datenschutz</a></li>
        </ul>
    </nav>
</div>
    {# <p>{{ siteData.description }}</p> #}
</footer>