<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": {% if tags %}
      {%- for tag in tags -%}
        {% if tag == "Rezept" %}"Recipe"{% endif %}
      {%- endfor -%} 
      {% else %} "BlogPosting"{% endif %},
  "@id": "https://kochen.trillitzsch.net{{ page.url }}",
  "name": "{{ title }}",
  "keywords": "{%- for tag in tags -%}{% if tag != "post" and tag != "Rezept" %}{{ tag }}{{ '' if loop.last else ', ' }}{% endif %}{%- endfor -%}",
  "inLanguage": "de",
  "datePublished": "{{ date }}",
  "author": {%if author.name %}}"{{ author.name }}"{% else %}"{{ author }}"{%endif%},
  "isPartOf": {
    "@type": "Blog",
    "name": "Grotzen und Butzen",
    "url": "https://kochen.trillitzsch.net",
    "@id": "https://kochen.trillitzsch.net"
  }
}
</script>    
{%- for css in encore.main.css -%}
  <link rel="stylesheet" href="{{ css }}" type="text/css"/>
{%- endfor -%}
    {# <link href="https://fonts.googleapis.com/css2?family=Yrsa:wght@400;700&display=swap" rel="stylesheet">  #}
     {# <link href="https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">  #}
     {# <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  #}
{# <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> #}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <title>{{ title }}</title>
{%- for js in encore.main.js -%}
  <script src="{{ js }}" defer></script>
{%- endfor -%}
</head>