<!DOCTYPE html>
<html lang="de">
    {% include "layouts/_head.njk" %}
<body>
{# <body class="backgroundTexture"> #}
    {% include "layouts/_header.njk" %}
    {% block main %}{% endblock %}
    {% include "layouts/_footer.njk" %}
</body>
</html>