<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>{{ title }}</title>
</head>
<body>
    <h1 class="text-green-700 font-serif text-xl">Test</h1>
     {{ content | safe }}
</body>
</html>