---
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% extends "layouts/single.njk" %}

{% block main %}
<article class="container max-w-2xl px-6 py-8 mx-auto my-4 font-serif">
{{ content | safe }}

<section class="mt-4">
<h2>Alle Blogbeiträge, neuste zuerst:</h2>
{# paginate over all posts in chunks of 10 (see setting in front matter of this template): #}
<ul>
{% for post in posts %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a> {{ post.data.date}}</li>
{% endfor %}
</ul>



<nav>
  <ul class="flex justify-between mt-8 list-none">
    {% if pagination.href.previous %}<li class="inline p-2 m-0 bg-gray-100 border border-gray-600 rounded-md shadow"><a href="{{ pagination.href.previous }}">< Previous Page</a></li>{% endif %}
    <li>{{ pagination.pageNumber + 1 }}</li>
     {% if pagination.href.next %}<li class="inline p-2 m-0 bg-gray-100 border border-gray-600 rounded-md shadow"><a href="{{ pagination.href.next }}">Next Page ></a></li>{% endif %}
  </ul>
</nav>

{# All pages, numbered: #}
{% for item in pagination.hrefs %}
  <span class="p-1 border"><a href="{{ item }}">{{loop.index}}</a></span>
{% endfor %}

{# <ul>
{%- for post in collections.post | reverse -%}
  <li{% if page.url == post.url %} aria-current="page"{% endif %}><a class="underline hover:text-green-700" href="{{ post.url }}">{{ post.data.title }}</a> {{ post.data.date}}</li>
{%- endfor -%}
</ul> #}
</section>
</article>


{% endblock %}