---
permalink: /tags/
title: Alle Schlagwörter
layout: /layouts/single.njk
---
<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  {# <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li> #}
  <li class="inline-block mx-0 mt-1 font-sans text-sm text-white"><a class="inline-block p-1 no-underline bg-green-600 rounded" href="{{ tagUrl | url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
