---
permalink: /tags/
title: Alle Schlagwörter
---
{% extends "layouts/post.njk" %}
{% block main %}

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}

{% endblock %}